* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #1ebfc1;
    --text-color: #0d1111;
}

body {
    font-size: 1.6rem;
    font-family: Poppins;
}
.heading {
    color: var(--text-color);
    font-weight: 700;
}

.heading.level-1 {
    font-size: 6.2rem;
    line-height: 1.16;
}

.heading.level-2 {
    font-size: 4.2rem;
    line-height: 1.33;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin-left: auto;
    margin-right: auto;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #0d1111;
}

:is(a:link, a:active, a:hover, a:active) {
    color: var(--link-color, var(--text-color));
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.two-line {
    --line-clamp: 2;
}

.line-clamp.three-line {
    --line-clamp: 3;
}

.break-all {
    word-break: break-all;
}

.btn {
    min-width: 108px;
    background-color: var(--primary-color);
    text-align: center;
    font-weight: 600;
    transition: all ease 0.25s;
}
/* header-fixed */
.header-fixed {
    padding-top: 52px;
    padding-bottom: 10px;
    position: sticky;
    top: -42px;
    left: 0;
    z-index: 1;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
}

.item-nav {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0 19.5px;
    height: 48px;
    color: #2f3a3b;
    font-size: 1.6rem;
    font-weight: 400;
}

.item-nav.active {
    font-weight: 600;
}

.item-nav:hover a {
    font-weight: 600;
}

.item-nav a::before {
    content: attr(title);
    display: block;
    height: 0;
    font-weight: 600;
    top: 0;
    left: 0;
    overflow: hidden;
    visibility: hidden;
}

header .group-actions {
    display: flex;
    align-items: center;
    gap: 24px;
}

.sign-in-btn {
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}

.sign-in-btn:hover {
    font-weight: 600;
}

.sign-in-btn::after {
    content: attr(title);
    display: block;
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.sign-up-btn {
    min-width: 108px;
    height: 48px;
    line-height: 48px;
    background-color: #fff;
    border-radius: 6px;
    --link-color: #1ebfc1;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    border: 1px solid #1ebfc1;
}

.sign-up-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* hero */
.hero {
    margin-top: 40px;
}

.block-hero {
    display: flex;
}

.text-hero {
    width: 51%;
}

.text-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-hero .logan {
    color: #767e7e;
    font-size: 1.4rem;
    font-weight: 400;
}

.text-hero .heading {
    margin-top: 18px;
    width: 458px;
}

.text-hero .desc {
    margin-top: 46px;
    width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.text-hero .group-cta {
    margin-top: 52px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.text-hero .cta-btn {
    min-width: 186px;
    height: 68px;
    line-height: 68px;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: 14px;
    border: 1px solid var(--primary-color);
}

.text-hero .cta-btn:hover {
    background-color: #fff;
    color: var(--primary-color);
}

.text-hero .group-cta .play-video {
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #fff;
    color: var(--primary-color);
    transition: all ease 0.25s;
    cursor: pointer;
}

.text-hero img {
    display: block;
}

.text-hero .group-cta .play-video:hover {
    background: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
}

.img-hero {
    position: relative;
    width: 49%;
}

.img-hero > img {
    width: 100%;
    height: 631px;
    object-fit: cover;
}

.img-hero .courses {
    position: absolute;
    top: 149px;
    left: -40px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fefefd;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.img-hero .courses .book {
    position: relative;
    width: 36px;
    height: 40px;
}

.img-hero .courses .book .d-book {
    position: absolute;
    top: 28px;
    left: 4px;
}

.img-hero .courses .data {
    width: 55px;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
}

.img-hero .schedules {
    position: absolute;
    left: -65px;
    bottom: 46px;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-hero .schedules .text {
    margin-top: 16px;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
}

.img-hero .schedules img:nth-of-type(1) {
    margin-top: 16px;
}

.img-hero .schedules img:nth-of-type(2) {
    margin-top: 12px;
}

.img-hero .schedules img:nth-of-type(3) {
    margin-top: 10px;
}

.img-hero .schedules img:nth-of-type(4) {
    margin-top: 16px;
}

.img-hero .students {
    position: absolute;
    right: 45px;
    bottom: 41px;
    width: 207px;
    height: 90px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.img-hero .students .text {
    color: var(--text-color);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.img-hero .students .group-student {
    margin-top: 8px;
    display: flex;
}

.img-hero .bg-face {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.img-hero .bg-face + .bg-face {
    margin-left: -9px;
}

.img-hero .bg-face:nth-child(1) {
    background-color: var(--primary-color);
}

.img-hero .bg-face:nth-child(2) {
    background-color: #ffc147;
}

.img-hero .bg-face:nth-child(3) {
    background-color: #ff947a;
}

.img-hero .bg-face:nth-child(4) {
    background-color: #bf83ff;
}

.img-hero .students img {
    width: 33px;
    height: 33px;
    object-fit: cover;
}

.img-hero .students .number {
    color: #fff;
    width: 33px;
    height: 33px;
    margin-left: -9px;
    line-height: 33px;
    background-color: var(--primary-color);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 50%;
    flex-shrink: 0;
}

/* features */
.features {
    margin-top: 209px;
}

.features .content {
    width: 1024px;
    max-width: calc(88% - 24px);
}
/* title */

.features-title .text {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.features-title .heading {
    margin-top: 18px;
    width: 577px;
}

.features-title .desc {
    margin-top: 18px;
    width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

/* body */
.features-body {
    margin-top: 80px;
}

.features-list {
    display: flex;
    justify-content: space-between;
}

.features-list .sub-title {
    margin-top: 26px;
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
}

.features-list .desc {
    margin-top: 16px;
    color: #9da6a5;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.69;
}

.features-list .item:nth-child(1) .desc {
    width: 168px;
}

.features-list .item:nth-child(2) .desc {
    width: 223px;
}

.features-list .item:nth-child(3) .desc {
    width: 224px;
}

/* popular */
.popular {
    margin-top: 130px;
}
/* title */

.popular-title .text {
    color: #767e7e;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.popular-title .heading {
    margin-top: 18px;
}

.popular-title .row {
    margin-top: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-title .row .desc {
    width: 525px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.78;
}

.popular-title .row .link-view a {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}
/* popular body */

.popular-body {
    margin-top: 79px;
}

.popular-list {
    display: flex;
    gap: 47px;
}

.popular-list .item {
    position: relative;
    width: 33.33%;
}

.popular-list .item .thumb {
    width: 100%;
    height: 393px;
    background: #d0efed;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0.35;
}

.popular-list .card {
    position: absolute;
    bottom: -124px;
    left: 17px;
    right: 17px;
    width: 91%;
    height: 195px;
    padding: 18px 28px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.popular-list .card .sub-title {
    color: var(--text-color);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.popular-list .card .price {
    margin-top: 16px;
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.popular-list .card strong {
    color: var(--text-color);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.popular-list .card .desc {
    margin-top: 6px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

.popular-list .card .detail {
    margin-top: 18px;
    display: flex;
    align-items: center;
}

.popular-list .card .detail span {
    margin-left: 10px;
    margin-right: 10px;
    color: #9da6a5;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}
/* stats */
.stats {
    margin-top: 389px;
}

.stats-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
    width: 862px;
    max-width: 73.68%;
}

.stats-list .item strong {
    color: var(--text-color);
    font-size: 6.2rem;
    font-weight: 700;
    line-height: normal;
}

.stats-list .item .desc {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

/* feedback */
.feedback {
    margin-top: 264px;
}

.feedback .main-content {
    overflow: hidden;
}

.feedback-list {
    position: relative;
    display: flex;
    width: 100%;
}

.feedback-list .group-actions {
    position: absolute;
    left: 0;
    bottom: 37px;
    display: flex;
    gap: 30px;
}

.feedback-list :is(.arrow-left, .arrow-right) {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: all ease 0.25s;
}

.feedback-list :is(.arrow-left, .arrow-right):hover {
    color: var(--primary-color);
    background-color: #fff;
}

.item-feedback {
    width: 100%;
    display: flex;
    height: 481px;
    flex-shrink: 0;
    transform: translate(-300%);
    transition: all ease 2s;
}

.item-feedback .text-block {
    width: 36%;
}

.item-feedback .text-block .quote {
    margin-top: 37px;
}

.item-feedback .text-block .desc {
    margin-top: 27px;
    color: #5d6564;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 1.5;
}

.item-feedback .text-block .name {
    margin-top: 33px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.item-feedback .text-block .name span {
    color: #767e7e;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.item-feedback .text-block .name strong {
    color: #070707;
    font-weight: 500;
    line-height: normal;
}

.item-feedback .img-block {
    position: relative;
    width: 64%;
}

.item-feedback
    .img-block
    :is(
        .location-1,
        .location-2,
        .location-3,
        .location-4,
        .location-5,
        .location-6
    ) {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.item-feedback .img-block .location-1 {
    top: 107px;
    right: 171px;
    width: 235px;
    height: 235px;
    background-color: #ff8282;
}

.item-feedback .img-block .location-2 {
    top: 19px;
    right: 0;
    width: 110px;
    height: 110px;
    background-color: #bf83ff;
}

.item-feedback .img-block .location-3 {
    top: 0;
    right: 443px;
    width: 92px;
    height: 92px;
    background-color: #1ebfc1;
}
.item-feedback .img-block .location-4 {
    top: 208px;
    right: 601px;
    width: 78px;
    height: 78px;
    background-color: #ffc147;
}

.item-feedback .img-block .location-5 {
    top: 403px;
    right: 389px;
    width: 78px;
    height: 78px;
    background-color: #ff947a;
}

.item-feedback .img-block .location-6 {
    top: 374px;
    right: 32px;
    width: 78px;
    height: 78px;
    background-color: #b1dfdc;
}

/* register */
.register {
    margin-top: 130px;
    padding: 76px 0 88px;
    background: #def6f5;
}

.block-register {
    display: flex;
    align-items: center;
}

.block-register .text-register {
    width: 36%;
}

.text-register .desc {
    margin-top: 18px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}

.block-register .actions-register {
    width: 64%;
    display: flex;
    justify-content: flex-end;
}

.actions-register .cta-btn {
    width: 186px;
    height: 68px;
    margin-right: 154px;
    line-height: 68px;
    border: 1px solid #2ac9bf;
    border-radius: 14px;
    background: #2ac9bf;
    color: #fff;
}

.actions-register .cta-btn:hover {
    background: #fff;
    color: #2ac9bf;
}

/* footer */
footer {
    margin-top: 130px;
}

.group-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.group-footer .group-link .item + .item a {
    margin-top: 20px;
    color: #535353;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
}

.group-footer .group-link .item.title a {
    padding-bottom: 5px;
    color: #2e2e2e;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
}

.group-footer .group-link .item .social {
    display: flex;
    align-items: center;
    gap: 9px;
}

footer .copyright {
    margin-top: 80px;
    margin-bottom: 50px;
    text-align: center;
    color: #b0b5b4;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: normal;
}
